<div class="box-2 container d-flex flex-column justify-content-center">

  <h2 class="text-center font-dohyeon mt-2"> 회원 정보 수정 </h2>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <label for="formGroupExampleInput">아이디</label>
      <%= f.input :email, required: true, autofocus: true, label: false %>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>
  </div>
  <div class="form-inputs">
    <label for="formGroupExampleInput">변경할 비밀번호를 입력해주세요</label>
      <%= f.input :password, autocomplete: "off", label: false, required: false %>
    <label for="formGroupExampleInput">변경할 비밀번호를 확인해주세요</label>
      <%= f.input :password_confirmation, required: false, label: false %>
  </div>
  
  <div class="form-inputs">
    <label for="formGroupExampleInput">현재 비밀번호(필수)</label>
      <%= f.input :current_password, required: true,label: false %>
  </div>
      <%= f.file_field :image, accept: 'image/png,image/gif,image/jpeg' %>
    </br>
  <div class="form-inputs">    
    <label for="formGroupExampleInput">강아지 이름</label>
      <%= f.input :dog_name, required: true, label: false%>
    <label for="formGroupExampleInput">강아지 종류</label>
      <%= f.input :dog_kind, required: true, label: false%>
  </div>
  <div>
      <%= f.radio_button :is_male_dog, true,checked: true%>
      <%= f.radio_button :is_male_dog, false%>
      <%= f.select :location, ['서울특별시', '부산광역시']%>
    </br>
    <label for="formGroupExampleInput">소개</label>
      <%= f.text_field :introduction%>
  </div>
  

  <div class="form-actions">
    <%= f.button :submit, "Update", class: "btn text-white", style: "background-color:salmon;" %>
    <% end %>
    <p>삭제하실래요? <%= link_to "계정 삭제", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:"salmon" %></p>
    <%= link_to "뒤로", :back, class:"salmon" %>
  </div>
</div>