<div class="box-2 container">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <%# <div class="container"> %>
  <div class="mt-4 text-center">
  <%= image_tag("logo.png") %>

    <p class="lead mt-2">반려견에게 행복한 생활을 선물해주세요 </p>
  </div>

  <%#아이디  %>
  <div class="row ml-1">
    <h4>강아지 정보입력</h4>
  </div>
  <div class="row">
    <div class="col-sm-3 mt-2">
      <p>이름<p>
    </div>
    <div class="col mt-2">
      <%= f.input :dog_name, required: true, label:false%>
    </div>
    <div class="invalid-feedback">
      우리 강아지 이름을 써주세요
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <p>품종</p>
    </div>
    <div class="col">
      <%= f.input :dog_kind, required: true, label:false%>
      <div class="invalid-feedback">
        우리 강아지 품종을 써주세요
      </div>
    </div>
  </div>

  <div class="row">
  <div class="col-sm-3">
      <p>성별</p>
  </div>
  <div class="col">
      <div class="btn-group btn-group-toggle " data-toggle= "buttons">
      <label class="btn btn-secondary btn-outline-info active">수컷
      <%= f.radio_button :is_male_dog, true,checked: true%>
      </label>
      <label class="btn btn-secondary btn-outline-info">암컷
      <%= f.radio_button :is_male_dog,false%></label>
      </div>
  </div>
  </div>
  

 <br>
 <div class="row">
    <div class="form-inputs col-sm-3">
      <p>Email</p>  
    </div>
        <div class="col">
          <%= f.input :email, required: true, autofocus: true, class:"form-group", label:false %>
        </div>
  </div>  
    
  <div class="row">  
    <div class="form-inputs col-sm-3">
     <p>비밀번호</p>
    </div>  
      <div class="col">
        <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), label:false%>
      </div>
  </div>    

  <div class="row">
      <div class="form-inputs col-sm-3">
        <p>비번 재입력</p>
      </div>  
      <div class="col">
        <%= f.input :password_confirmation, required: true, label:false %>      
      </div>  
  </div>
  <div class="row">
    <div class="col-sm-3">
      <p>프로필 사진</p>
    </div>
    <div class="col">
      <%= f.file_field :image, accept: 'image/png,image/gif,image/jpeg' %>
    </div>
  </div>
<div class="row">
    <div class="col-sm-3">
      <p>간단 소개</p>
    </div>
    <div class="col">
        <%= f.text_field :introduction%>
    </div>
  </div>
<%# 거주 지역 %>
  <div class="row">
      <div class="col">
        <label for="country">주인님이 매칭을 원하시는 지역은 어디인가요?</label>
      </div>  
  </div>
  <div class="row col">
        <%= f.select :location, ['서울특별시', '부산광역시', '대구광역시', '인천광역시', '광주광역시', '대전광역시','울산광역시']%>
        <div class="invalid-feedback">
            다시 골라주세요
        </div>
  </div>
  <br>
  <%# 광고성 글 - 애완용품 구매 유도 %>
    <div class="d-flex flex-row justify-content-center">
      <%= f.button :submit, "회원가입 멍!" %>
    </div>
    <br>
    <br>
<% end %>
</div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="../../../../dist/js/bootstrap.min.js"></script>
    <script src="../../../../assets/js/vendor/holder.min.js"></script>
    <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function() {
        'use strict';

        window.addEventListener('load', function() {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName('needs-validation');

          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
    </script>

