<div class="d-flex flex-column align-items-center">
  <div class="d-flex justify-content-center">
    <%= image_tag('https://image.flaticon.com/icons/svg/886/886765.svg', class: 'img-2')%>
  </div>
      <% @liked_users.each do |liked_user|%>
    <div class="user-box d-flex justify-content-around align-items-center">
        <%= image_tag liked_user[0].image.thumb , style:"width:180px;height:180px;"%>
        <div class="d-flex flex-column justify-content-around align-self-">
            <div>
            <p><span style="color: salmon">NAME :</span><%= liked_user[0].dog_name%></p>
            <p><span style="color: salmon">BREED :</span><%= liked_user[0].dog_kind%></p>
            <p><span style="color: salmon">GENDER :</span><%=  liked_user[0].is_male_dog? ? "수컷" : "암컷"%></p>
            </div>
            <div>
            <% if liked_user[1] && @recent_messages[liked_user[0].id]%>
            <%= @recent_messages[liked_user[0].id].content%>
            <% end%>
            </div>
        </div>
     
        <%= link_to 'UNDO LIKE', like_delete_path(current_user.id, liked_user[0].id), method: :delete, class: "salmon"%>
      <% if liked_user[1]%>
        <%= link_to 'MATCHED !', post_new_match_path(liked_user[1], current_user.id, liked_user[0].id), class: "salmon"%>
      <% end%>
    </div>
    <br>
      <% end%>
  </div>
</div>
