<div class="card mt-5 mx-auto" style="width: 20rem;">
  <%= image_tag current_user.image, class:'card-img-top' %>
  <div class="card-body">
    <h5 class="card-title"><%= current_user.dog_name %></h5>
    <p class="card-text"><%= current_user.introduction %></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">종류 :<%= current_user.dog_kind %></li>
    <li class="list-group-item">성별 :<%= "수컷" if current_user.is_male_dog%><%= "암컷" unless current_user.is_male_dog%></li>
    <li class="list-group-item">이메일 :<%= current_user.email %></li>
  </ul>
  <div class="card-body text-center">
    <%= link_to '개인정보 수정', edit_user_registration_path, class: "card-link salmon"%>
    <%= link_to '메인으로', root_path, class: "card-link salmon"%>
 </div>
</div> 
