
<div class="d-flex flex-row justify-content-center align-items-center">
    <div class="d-flex flex-column align-items-center justify-content-center">
        <div class="card">
            <div class="d-flex">
                <div id="user_panel" class="d-flex flex-column align-items-center whitebox">
                    <div>
                    <%= @filtered_randomUser.dog_name%>
                    <%= @filtered_randomUser.dog_kind%>
                    <%= @filtered_randomUser.is_male_dog%>
                    </div>
                    <%= image_tag @filtered_randomUser.image.thumb%>
                </div>
            </div>
            <div class="card">
                
            </div>
        </div>
            <div style="z-index:3;position:relative;bottom:30px;"><%= link_to 'Like', like_update_path(current_user.id, @filtered_randomUser.id), method: :post, id:"likeBtn"%></div>
    </div>
            <div style="margin-left:30px;"><%= link_to '다음!', {action: :show_ajax}, remote: true,id:"nextBtn"%></div>
</div>