
<div class="d-flex flex-row justify-content-center align-items-center" style="margin:40px">
    <div class="d-flex flex-column align-items-center justify-content-center">
        <div class="card" style="padding:10px">
            <div class="d-flex">
                <div id="user_panel" class="d-flex flex-column align-items-stretch whitebox">
                    <div class="d-flex">
                        <div><%= @filtered_randomUser.dog_name%></div>,
                        <div><%= @filtered_randomUser.dog_kind%></div>,
                        <div><%= "수컷" if @filtered_randomUser.is_male_dog%><%= "암컷" unless @filtered_randomUser.is_male_dog%></div>
                    </div>
                    <%= image_tag @filtered_randomUser.image.thumb%>
                </div>
            </div>
        </div>
            <div style="z-index:3;position:relative;bottom:80px;"><%= link_to image_tag("like_btn",{style:"width:60px"}), like_update_path(current_user.id, @filtered_randomUser.id), method: :post, id:"likeBtn"%></div>

            <div class="card" style="padding:20px" id="introduction">
                <%= @filtered_randomUser.introduction%>
            </div>
    </div>
            <div style="margin-left:30px;"><%= link_to image_tag("next_btn"), {action: :show_ajax}, remote: true,id:"nextBtn"%></div>
</div>