<section>
<%=image_tag('KakaoTalk_Photo_2018-05-19-16-18-43.1', class: 'summer')%>
    <div class="float-left lalala">
        <strong class="align-self-sm-end card-title text-white font-weight-bold lululu">여름이는 <br> 자신의 짝을 <br> 찾고 싶어합니다.</strong>
		<% if user_signed_in?%>
		<%= link_to '찾아주기', show_user_path(current_user.id), class:"btn bg-info text-white lilili"%>
		<% else%>
		<%= link_to '찾아주기', new_user_registration_path, class:"btn bg-info text-white lilili"%>
		<% end%>
	</div>
</section>


<section class="second">
    <div class="d-flex flex-column">
            <h4 class="info-title"> 서비스 소개 </h4>
			<div class="d-flex flex-row">
				<%=image_tag('dogkiss', class: ' rounded float-left')%>
      	        <div class="d-flex flex-column justify-content-center"><p style="font-size: 20px"> "개만다는 사랑이 필요한 강아지에게 어울리는 짝을 찾아주는 서비스예요. <br> 우리가 사랑하는 강아지의 행복에 기여하는 것이 개만다의 목적이랍니다!" </p></div>
			</div>
    </div>
</section>

<section class="third">
    <div class="d-flex flex-column">
            <div><h4 class="info-title"> 이용방법 </h4></div>
			<div class="d-flex flex-row justify-content-around">
				<div class="d-flex flex-column justify-content-center">
					<div class="third-text">1. 강아지 프로필을 <br> 등록해주세요.</div>
					<div><%=image_tag('third_one', class: ' rounded-1')%></div>
				</div>
				<div class="d-flex flex-column justify-content-center">
					<div class="third-text">2. 강아지와 함께 짝을 <br> 선택해주세요.</div>
					<div><%=image_tag('third_two', class: ' rounded-1')%></div>
				</div>
				<div class="d-flex flex-column justify-content-center">
					<div class="third-text">3. 상대 견주와 연락하여 <br> 만남을 주선하세요.</div>
					<div><%=image_tag('third_three', class: ' rounded-1')%></div>
				</div>
			</div>
    </div>
</section>

<section class="fourth">
    <div class="d-flex flex-column">
        <div><h4 class="info-title"> 매칭 현황 </h4></div>
    </div>
</section>

</body>
