<div class="d-flex flex-column talkbox" id="talkbox">
<% if !@posts.empty?%>


    <% @posts.each do |post| %>
     <% if post.from_id == current_user.id%>
    <div class="d-flex justify-content-end">
    <% else%>
    <div class="d-flex flex-row-reverse justify-content-end">
    <% end%>
      <% if post.from_id == current_user.id%>
       <div class='formMe align-self-end'>
      <% else%>
        <div class='formTo align-self-start'>
      <% end%>
        
        <td><%= post.content %></td>
      </div>
      <% if post.from_id == current_user.id%>
      <div class="d-flex justify-content-center align-items-center"><%= image_tag current_user.image, style: "width:40px;height:40px;margin-left:10px;border-radius:50%;" %></div>
      <% else%>
      <div class="d-flex justify-content-center align-items-center"><%= image_tag @to_image, style: "width:40px;height:40px;margin-right:10px;border-radius:50%;" %></div>
      <% end%>
      </div>
    <% end %>
<% else%>
주고받은 쪽지가 없습니다!
<% end%>

<%= render 'form', post: @post %>
</div>

<%= link_to '프로필페이지로', user_profile_path(current_user.id)%>
