<!DOCTYPE html>
<html>
  <head>
    <title>Gaemanda</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    <%= yield %>
      <footer>
        <p><a href="https://open.kakao.com/o/sS3QsUM">실시간 상담원 연결</p>
      </footer>
  </body>
</html>
