<!DOCTYPE html>
<html>
  <head>
    <title>Gaemanda</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Black+Han+Sans|Do+Hyeon|Nanum+Gothic" rel="stylesheet">
  </head>


  <body style="background-color: rgb(242,242,242);">
      <nav class="navbar navbar-expand-lg navbar-light sticky-top d-flex justify-content-between" style="background-color: salmon;">
        <%=link_to image_tag('roaksek1.png', class: 'img'), root_path%>
 
        <div class="navbar-nav d-flex flex-row">
          <% if current_user %>
          <%= link_to "매칭현황", matching_path(current_user.id), class: "nav-item nav-link text-white mr-3"%>          
          <%= link_to "프로필", user_profile_path(current_user.id), class: "nav-item nav-link text-white mr-3"%>
          <%= link_to "로그아웃", destroy_user_session_path, method: :delete, class: "nav-item nav-link text-white mr-3" %>
          <% else %>
          <%= link_to "회원가입", new_user_registration_path, class: "nav-item nav-link text-white mr-3"%>
          <%= link_to "로그인", new_user_session_path, class: "nav-item nav-link text-white mr-3" %>

        <% end %>
        </div>


      </nav>
    <%= yield %>
    <nav class="align-bottom">
      <div class="d-flex justify-content-around mt-5 py-3" style="background-color: #5E5E5E;" >
        <div class="d-flex px-0 text-white" style="list-style-type: none;">Gaemanda
        </div>
        <div class="d-flex px-0 text-white" style="list-style-type: none;">
          <a href="https://open.kakao.com/o/sS3QsUM" class="text-white">Contact</a>
        </div>
        <div class="d-flex px-0 text-white" style="list-style-type: none;">Support
        </div>
      </div>
    </nav>

  </body>
</html>

